$buttonHeight: 60px;
$paddingDiv: 3px;
$imgSize: $buttonHeight;
$divHeight: 2 * $paddingDiv + $buttonHeight;

.wrapper {
    height: $buttonHeight;
    border-radius: 50vh;
    padding: $paddingDiv;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0px 0px 5px rgb(200, 200, 200);
    width: max-content;
    background-color: white;
    pointer-events: all;
}

.bg {
    position: absolute;
}

.bg, .pen {
    height: $buttonHeight;
    width: $buttonHeight;
    border-radius: 50%;
    transition: 0.1s all ease-in-out;
}

.pen {
    display: inline-block;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.icon {
    width: $imgSize;
    height: $imgSize;
    margin: calc(($buttonHeight - $imgSize) / 2);
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    border-radius: 50%;
    z-index: auto;
    position: relative;
}

.active:not(.hyperActive) .icon {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(213deg) brightness(106%) contrast(104%);;
}

.pen:not(.active):hover {
    background-color: rgb(200, 200, 200) !important;
}

.pen:not(.active):active {
    background-color: rgb(150, 150, 150) !important;
}