@import url(../../ribbon/ribbon-tab/_control.scss);

$size: 30px;
$borderStandard: 2px;
$activeBorder: 2px;
$pad: 2px;
$margin: 7px;

.colorWrapper .color {
    width: $size;
    height: $size;
    border-radius: 50%;
    display: inline-block;
    margin: $margin;
    overflow: hidden;
    transition: var(--slow-transition); /* not working because it is constantly checking for new ones and thus reloading, Sirius? */
    border: $borderStandard solid #00000028;
    padding: 0px;
}

.colorWrapper {
    transition: var(--slow-transition);
    max-width: 300px;
}

.divider.disabled .color {
    filter: opacity(50%);
}

.divider.disabled .dividerLabel {
    color: gray !important;
}

.bg {
    height: -webkit-fill-available;
    border-radius: 50%;
    transition: var(--slow-transition);
}

.activeColor {
    transition: var(--slow-transition);
    border: $activeBorder solid #000000cc !important;
    /*padding: $pad !important;*/
}

.activeColor .bg {
    --activeBorder: 3px;
    border: var(--activeBorder) solid white;
    display: flex;
}

.dividerLabelWhite {
    background-color: white !important;
}