@import url(../../ribbon/ribbon-tab/_control.scss);

$size: 30px;
$borderStandard: 2px;
$activeBorder: 3px;
$pad: 2px;
$whn: calc($size - 2 * $activeBorder + 2 * $borderStandard - 2 * $pad);
$margin: 7px;

.colorWrapper .color {
    width: $size;
    height: $size;
    border-radius: 50%;
    display: inline-block;
    margin: $margin;
    overflow: hidden;
    transition: all 0.2s ease-in-out; /* not working because it is constantly checking for new ones and thus reloading, Sirius? */
    border: $borderStandard solid #00000028;
    padding: 0px;
}

.colorWrapper {
    transition: all 0.2s ease-in-out;
    max-width: 300px;
}

.bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.activeColor {
    transition: all 0.2s ease-in-out;
    border: $activeBorder solid #000000cc !important;
    width: $whn !important;
    height: $whn !important;
    padding: $pad !important;
}