<div class="wrapper">
    <label for="colorStops">Farbstops:</label>
        <div id="colorStops" class="colorstopsWrapper">
            @for (i of this.picker?.value; track $index) {
                <div class="gradientStopContainer borderBottom">
                    <app-color-circle class="colorCircle" (colorChange)="this.onChange()" [allowMenuAsContextMenu]="true" [allowVisibilityChange]="false" [(color)]="i[1]"></app-color-circle>
                    <input class="input" type="number" (change)="this.onChange()" [(ngModel)]="i[0]" step="0.1" title="Farbstop-Wert" min="0" max="1">
                    <button class="iconButton floatRight" (click)="this.removeStop($index)"><img src="assets/trash.svg" alt="Icon" class="icon"></button>
                </div>
            }
            <div class="add divButton smallDivButton borderBottom" tabindex="0" (click)="this.addStop()">
                <p>
                    <span><img [src]="'./assets/plus.svg'" class="icon iconInText smallIcon" alt="button"/></span>
                    Hinzufügen
                </p>
            </div>
        </div>
    
</div>