<div class="wrapper">
    @if (this.picker !== undefined && this.picker.value !== undefined) {
        <div class="inputContainer centerPoint">
            <label for="centerPointInput">Mittelpunkt:</label>
            <div class="inputWrapper centerPointInput" id="centerPointInput">
                <span><input title="x" type="number" step="any" class="input" [disabled]="this.picker.isDisabled()" [(ngModel)]="this.picker.value.center.x"></span>
                <span><input title="y" type="number" step="any" class="input" [disabled]="this.picker.isDisabled()" [(ngModel)]="this.picker.value.center.y"></span>
            </div>
        </div>
        <div class="inputContainer startAngle">
            <label for="startAngleInput">Startwinkel:</label>
            <div class="inputWrapper startAngleInput" id="startAngleInput">
                <span><input title="Startwinkel" type="number" step="any" class="input" [disabled]="this.picker.isDisabled()" [(ngModel)]="this.picker.value.startAngle"></span>
            </div>
        </div>
        <div class="gradientStops">
            <app-gradient-stops [picker]="this.gradientStopPicker"></app-gradient-stops>
        </div>
    }
</div>