<div class="wrapper">
    @if (this.picker) {
        <label class="paragraph">Bildstil:</label><br>

        <input type="radio" id="savedImageStyle" value="saved" [(ngModel)]="this.isCustom">
        <label for="savedImageStyle">Gespeicherten Bildstil auswählen</label><br>
        @if (this.isCustom === 'saved') {
            <div class="wrapperForStyle">
                <select [(ngModel)]="this.selectedSavedStyle" title="Gespeicherten Bildstil auswählen" class="select">
                    @for (o of this.savedObjectStyles; track $index) {
                        <option [ngValue]="o">{{o.name}}</option>
                    }
                </select>
            </div>
        }

        <input type="radio" id="customImageStyle" value="custom" [(ngModel)]="this.isCustom">
        <label for="customImageStyle">Eigenen Bildstil verwenden</label><br>
        @if (this.isCustom === 'custom') {
            @if (this.customPicker) {
                <div class="wrapperForStyle">
                    <app-image-style [picker]="this.customPicker"></app-image-style>
                </div>
            }
            @else {
                <app-loading></app-loading>
            }
        }
    }   
    @else {
        <app-loading></app-loading>
    } 
</div>