.bigDivButton {
  --height: 60px;
  height: var(--height);
  line-height: var(--height);
}

.smallDivButton {
  --height: 45px;
  height: var(--height);
  line-height: var(--height);
}

.divButton {
  background: #fff7f2;
  transition: 0.1s all ease-in-out;
}

.divButton.disabled, .divButton:disabled {
  color: gray;
}

.divButton.disabled img, .divButton:disabled img {
  filter: var(--gray-filter) !important;
}

.divButton:hover:not(.disabled) {
  background: #efe7e2;
}

.divButton:active:not(.disabled), .divButton:focus:not(.disabled) {
  background: #dfd7d2;
}

.divButton p {
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  /* font-family: 'Segoe UI', Calibri, 'sans-serif'; */
}

.iconButton {
  --iconButtonSize: 46px;
  height: var(--iconButtonSize);
  width: var(--iconButtonSize);
  border: none;
  outline: none;
  background: #fff7f2;
  transition: all 0.1s ease-in-out;
  border-radius: 50%;
  -webkit-user-select: none;
  user-select: none;
}

.iconButton:disabled img {
  filter: var(--gray-filter) !important;
}

.iconButton:hover:not(:disabled) {
  background: #efe7e2;
}

.iconButton:active:not(:disabled), .iconButton:focus:not(:disabled) {
  background: #dfd7d2;
}

.iconButton.depositionTop {
  margin-top: calc(-1 * var(--iconButtonSize));
}

.iconButton img {
  --size: calc(0.7 * var(--iconButtonSize));
  width: var(--size);
  height: var(--size);
  margin-top: calc((var(--iconButtonSize) - var(--size)) / 2 - 2.5px);
}

.icon {
  -webkit-user-drag: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.iconInText.smallIcon {
  --iconSize: 20px;
  height: var(--iconSize);
  width: var(--iconSize);
  top: 0.25em;
}

.iconInText.mediumBigIcon {
  --iconSize: 28px;
  height: var(--iconSize);
  width: var(--iconSize);
  top: -1.8em;
  left: -0.15em;
}

.bigIcon {
  --iconSize: 50px;
  height: var(--iconSize);
  width: var(--iconSize);
  position: relative;
  top: 0.25em;
}

.iconInText.mediumIcon {
  --iconSize: 25px;
  height: var(--iconSize);
  width: var(--iconSize);
  top: 0.4em;
  margin-right: 5px;
}

.iconInText {
  position: relative;
  border: none;
  outline: none;
}

.floatRight {
  float: right;
}

.input {
  --padding: 7px;
  --iconButtonSize: 46px;
  --border: 1px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: calc(var(--iconButtonSize) - 2 * (var(--padding) + var(--border)));
  font-size: 14pt;
  font-family: "Cambria Math", Cambria, "CMU Serif", serif;
  padding: var(--padding);
  display: block;
  border: var(--border) solid transparent;
  border-radius: 5px;
  outline: none;
  background: #efe7e2;
  transition: 0.1s all ease-in-out;
  color: #555;
}

.input:disabled {
  background: #f7efea;
  border: var(--border) solid #e6dfd9;
  color: gray;
}

.input.numberInput {
  width: 50px;
}

.input.noMath {
  font-family: inherit !important;
}

.input.smallInput {
  --fontSize: 10pt;
  --padding: 5px;
  padding: var(--padding);
  height: calc(var(--fontSize) + 2 * var(--padding));
  transition: all 0.1s ease-in-out;
  font-size: var(--fontSize);
  font-family: 'Segoe UI', Calibri, 'sans-serif';
}

.input:focus:not(:disabled), .input:active:not(:disabled) {
  background: #fffbf9;
  border: 1px solid #dfd7d2;
  color: black;
}

.input:hover:not(:disabled):not(:focus):not(:active) {
  background: #dfd7d2;
}

.select, .button {
  outline: none;
  transition: all 0.1s ease-in-out;
  font-family: "Trebuchet MS", 'Segoe UI', Calibri, 'sans-serif';
  font-size: 12pt;
  color: #885739;

  background-color: #fff7f2;
  border-radius: 50vh;
  border: 1px solid #b3917c;
  
  --button-height: 37px;
  --button-pading: 7px;
  height: var(--button-height);
}

.button {
  padding: var(--button-pading);
  /* border: 1px solid #cccccc;
  background: #fcfcfc;
  border-radius: 5px; */
  /* font-weight: 500; */
  -webkit-user-select: none;
  user-select: none;
}

.select {
  padding-left: var(--button-pading);
  padding-right: var(--button-pading);
}

.button:hover, .select:hover {
  background-color: #ffe7d8;
}

.button:focus, .button:active, .select:focus, .select:active {
  background-color: #ffd2b6;
}

.heading {
  font-size: 16pt !important;
  font-weight: 600;
  margin-top: 0;
}

.paragraph {
  font-size: 13pt;
  font-family: 'Segoe UI', Calibri, 'sans-serif';
  -webkit-user-select: none;
  user-select: none;
}

.maths {
  font-size: 14pt;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Cambria Math", Cambria, "CMU Serif", serif;
}

.centered {
  text-align: center;
}

.floatRight {
  float: right;
}

.close {
  background-color: #805030;
  border: 1px solid #805030;
  color: #fff7f2;
}

.close:focus {
  background-color: #6b3714;
}

.close:hover {
  background-color: #634734;
}

.selectContainer {
  --height: 60px;
  --padding: 7px;
  padding: var(--padding);
  height: calc(var(--height) - 2 * var(--padding));
}

.borderBottom {
  border-bottom: 1px solid #dfd7d2;
}

.selectContainer > .icon {
  --iconSize: calc(var(--height) - 2 * var(--padding));
  height: var(--iconSize);
  width: var(--iconSize);
  border-radius: 50%;
}

.selectContainer .iconButton {
  margin-top: calc((var(--height) - var(--iconButtonSize)) / 2 - var(--padding));
}

.selectContainer .select {
  position: relative;
  top: -15px;
}

.mainBGColor {
  background-color: #fff7f2;
}