<div class="wrapper">
    <p class="paragraph heading">Reihenfolge der Stifte verändern</p>
    <div class="penWrapper">
        @for (i of this.order; track $index) {
            <div class="outerSelectContainer borderBottom pen">
                <div class="choosePenContainer">
                    <app-choose-pen [picker]="i.picker"></app-choose-pen>
                </div>
                @if (this.order.length !== 1) {
                    <button class="iconButton floatRight" title="Stift aus Ansicht entfernen" (click)="this.removePen($index)"><img src="assets/trash.svg" class="icon" alt="button"></button>
                }
            </div>
        }
        <div class="add divButton bigDivButton" tabindex="0" (click)="this.add()">
            <p>
                <span><img [src]="'./assets/plus.svg'" class="icon iconInText smallIcon" alt="button"/></span>
                Hinzufügen
            </p>
        </div>
    </div>
</div>