@import url(../../../global/styles/_global.scss);

.pen {
    --height: 60px;
    --padding: 7px;
    padding: var(--padding);
    height: calc(var(--height) - 2 * var(--padding));
    border-bottom: 1px solid #dfd7d2;
}

.pen > .icon {
    --iconSize: calc(var(--height) - 2 * var(--padding));
    height: var(--iconSize);
    width: var(--iconSize);
    border-radius: 50%;
}

.pen .iconButton {
    margin-top: calc((var(--height) - var(--iconButtonSize)) / 2 - var(--padding));
}

.pen .select {
    position: absolute;
    margin-top: calc((var(--height) - var(--button-height)) / 2 - var(--padding));
}

.add {
    height: 60px;
    background: #fff7f2;
    transition: 0.1s all ease-in-out;
    line-height: 60px;
}
  
.add:hover {
    background: #efe7e2;
}
  
.add:active {
    background: #dfd7d2;
}
  
.add p {
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    /* font-family: 'Segoe UI', Calibri, 'sans-serif'; */
}