@import url(../../../global/styles/_global.scss);

.add {
    height: 60px;
    background: #fff7f2;
    transition: 0.1s all ease-in-out;
    line-height: 60px;
}
  
.add:hover {
    background: #efe7e2;
}
  
.add:active {
    background: #dfd7d2;
}
  
.add p {
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    /* font-family: 'Segoe UI', Calibri, 'sans-serif'; */
}