/* variables */
.wrapper {
    --sizeH: 45px;
    --sizeW: 150px;
    --margin: 3px;
    --border: 1px;
    --borderColor: #afa7a2;
    --padding: 2px;
    --borderRadius: 7px;
    --width: calc(var(--sizeW) + 2 * var(--margin) + var(--border));
    --background: #fff7f2;
}
  
.tabHeaders {
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: 7px;
    margin-bottom: 7px;
    width: var(--width);
    padding: var(--padding);
    float: left;
    border-right: var(--border) solid #ffe7d8;
    -webkit-user-select: none;
    user-select: none;
    overflow: auto;
    scrollbar-width: none;
}
  
.tabHeaders::-webkit-scrollbar {
    display: none;
}
  
.tabHeader {
    --sizeHeight: calc(var(--sizeH) - 2 * var(--border));
    --sizeWidth: calc(var(--sizeW) - 2 * var(--border));
    width: var(--sizeWidth);
    height: var(--sizeHeight);
    margin: var(--margin);
    border: 1px solid transparent;
    text-align: center;
    line-height: var(--sizeHeight);
    border-radius: var(--borderRadius);
    transition: 0.1s all ease-in-out;
    font-family: 'Segoe UI', Calibri, 'sans-serif';
}
  
.tabHeader:hover {
    background: #efe7e2;
}
  
.tabHeader:active {
    background: #dfd7d2;
}
  
.tabHeader p {
    margin: 0;
}
  
.tabHeader.active {
    background: #dfd7d2;
}
 
.tabContainer {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    float: right;
    height: 100%;
    width: calc(100% - var(--width) - 2 * var(--padding));
    background: var(--background);
    overflow: auto;
}
  
.empty .tabContainer {
    display: none;
}
  
.wrapper {
    width: 100%;
    height: 100%;
    background: var(--background);
}
  
.empty.wrapper {
    width: calc(var(--width) + 2 * var(--padding));
}
  
.table {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    clear: both;
    box-sizing: border-box;
    background-color: transparent;
    overflow: hidden;
}
  
.tabPage {
    display: none;
}
  