/* variables */
.wrapper {
  --size: 70px;
  --margin: 9px;
  --border: 1px;
  --padding: 2px;
  --borderRadius: 5px;
  --width: calc(var(--size) + 2 * var(--margin) + var(--border));
  --background: #fff7f2;
}

.tabHeader {
  --sizeHeader: calc(var(--size) - 2 * var(--border));
  width: var(--sizeHeader);
  height: var(--sizeHeader);
  margin: var(--margin);
  border: 1px solid transparent;
  text-align: center;
  line-height: var(--sizeHeader);
  border-radius: var(--borderRadius);
  transition: 0.1s all ease-in-out;
  display: inline-block;
}

.tabHeader, .groupName {
  font-family: 'Segoe UI', Calibri, 'sans-serif';
  -webkit-user-select: none;
  user-select: none;
}

.groupName {
  font-weight: bold;
  font-size: large;
  margin-top: 50px;
  margin-bottom: 0;
}

.group:first-child .groupName {
  margin-top: 0px;
}

.tabHeader:hover {
  background: #efe7e2;
}

.tabHeader:active {
  background: var(--border-color);
}

.tabHeader p {
  margin: -20px;
  text-align: center;
  line-height: 2.5;
  font-size: smaller;
}

.tabHeader.active {
  background: var(--border-color);
}

.wrapper {
  margin: 16px;
}

.icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
