<div class="wrapper">
    @if (this.picker) {
        <label class="paragraph">Objektstil:</label><br>

        <table class="styleTable">
            <tr>
                <!-- Filter -->
                <td class="filterLabelTD">
                    <label>Filter:</label>
                </td>
                <td>
                    <div title="Verwende Filter">
                        <input type="checkbox" id="filterEnabled" [(ngModel)]="this.filterEnabled">
                        <label for="filterEnabled">Filter verwenden</label>
                    </div>
                    <div id="filter" class="filterWrapper roundBorderWrapper">
                        @for (i of this.getAllFilterIterators(); track $index) {
                            <div class="filterContainer loopContainer borderBottom">
                                <select title="Welcher Filter soll verwendet werden?" class="select" [disabled]="!this.filterEnabled" [(ngModel)]="i.filterName">
                                    @for (filterName of filterNames; track $index) {
                                        <option [value]="filterName">{{ filterName }}</option>
                                    }
                                </select>
                                @if (isStringFilterInput(i.filterInput)) {
                                    <input type="text" [(ngModel)]="i.filterInput.input" [disabled]="!this.filterEnabled" title="Wert" class="input stringFilterInput filterInput"> <!-- TODO: styling, bug fixing, disable etc. -->
                                }
                                @else {
                                    <input type="number" [(ngModel)]="i.filterInput.input" [disabled]="!this.filterEnabled" title="Wert" class="filterInput input numberInput">
                                    <select title="Welche Einheit soll verwendet werden?" class="select" [disabled]="!this.filterEnabled" [(ngModel)]="i.filterInput.unit">
                                        @for (unit of i.filterInput.getAllUnits(); track $index) {
                                            <option [value]="unit">{{ unit }}</option>
                                        }
                                    </select>
                                }
                                <button class="iconButton floatRight" [disabled]="!this.filterEnabled" (click)="this.removeFilter($index)"><img src="assets/trash.svg" alt="Icon" class="icon"></button>
                            </div>
                        }
                        <div class="add divButton smallDivButton" [class.disabled]="!this.filterEnabled" tabindex="0" (click)="this.addFilter()">
                            <p>
                                <span><img [src]="'./assets/plus.svg'" class="icon iconInText smallIcon" alt="button"/></span>
                                Hinzufügen
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <!-- Shadow -->
                <td class="shadowLabelTD">
                    <label>Schatten:</label>
                </td>
                <td>
                    <div title="Verwende Schatten">
                        <input type="checkbox" id="shadowEnabled" [(ngModel)]="this.shadowEnabled">
                        <label for="shadowEnabled">Schatten verwenden</label>
                    </div>
                    <div class="shadowWrapper" [class.disabled]="!this.shadowEnabled">
                        <table class="styleTable">
                            <tr>
                                <td class="shadowColorLabelTD"><label for="shadowColor">Farbe:</label></td>
                                <td>
                                    <app-color-picker id="shadowColor" [picker]="this.shadowColorPicker"></app-color-picker>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="shadowBlur">Blur:</label></td>
                                <td>
                                    <input id="shadowBlur" type="number" [(ngModel)]="this.shadowBlur" [disabled]="!this.shadowEnabled" title="Blur" class="shadowInput input numberInput">
                                </td>
                            </tr>
                            <tr>
                                <td><label for="shadowOffsetX">Offset x:</label></td>
                                <td>
                                    <input id="shadowOffsetX" type="number" [(ngModel)]="this.shadowOffsetX" [disabled]="!this.shadowEnabled" title="Offset x" class="filterInput input numberInput">
                                </td>
                            </tr>
                            <tr>
                                <td><label for="shadowOffsetY">Offset y:</label></td>
                                <td>
                                    <input id="shadowOffsetY" type="number" [(ngModel)]="this.shadowOffsetY" [disabled]="!this.shadowEnabled" title="Offset y" class="filterInput input numberInput">
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <!-- Alpha -->
                <td class="alphaLabelTD">
                    <label for="alphaInput">Alpha:</label>
                </td>
                <td>
                    <div title="Verwende Alpha">
                        <input type="checkbox" id="alphaEnabled" [(ngModel)]="this.alphaEnabled">
                        <label for="alphaEnabled">Alpha verwenden</label>
                    </div>
                    <div class="alphaWrapper">
                        <input id="alphaInput" [disabled]="!this.alphaEnabled" class="input numberInput" type="number" step="0.1" [(ngModel)]="this.alpha">
                    </div>
                </td>
            </tr>
            <tr>
                <!-- uniform size on zoom -->
                <td>
                    <label>Zoom:</label>
                </td>
                <td>
                    <div title="Beim Zoomen soll sich die sichtbare Größe nicht verändern">
                        <input type="checkbox" id="useUniformSizeOnZoom" [(ngModel)]="this.uniformSizeOnZoom">
                        <label for="useUniformSizeOnZoom">Einheitliche Größe beim Zoom verwenden</label>
                    </div>
                </td>
            </tr>
        </table>
    }
    @else {
        <app-loading></app-loading>
    }
</div>