@import url(../../styles/_global.scss);
@import url(../styleStyles.scss);

.filterLabelTD, .alphaLabelTD, .shadowLabelTD, .shadowColorLabelTD {
    vertical-align: unset;
}

.stringFilterInput {
    max-width: 150px;
}

.filterWrapper {
    min-width: 300px;
}

.filterContainer *:not(:last-child) {
    margin-right: 7px;
}

.alphaWrapper, .shadowWrapper {
    margin-top: 7px;
    transition: var(--default-transition);
}

.shadowWrapper.disabled {
    color: gray;
}