@import url(../../global/styles/_global.scss);

.addDiv {
  height: 62px;
  background: #fff7f2;
  transition: 0.1s all ease-in-out;
  line-height: 62px;
  border-bottom: var(--default-border);
}

.addDiv:hover {
  background: #efe7e2;
}

.addDiv:active {
  background: var(--border-color);
}

p {
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  /* font-family: 'Segoe UI', Calibri, 'sans-serif'; */
  font-size: 13pt;
}
