.styleWrapper > *:not(:first-child) {
    margin-top: 10px;
    display: block;
}

.styleWrapper > *:not(:last-child)::after {
    content: " ";
    display: block;
    height: 0px;
    border: 0.5px solid var(--border-color);
    margin-top: 7px;
}