<div class="contentWrapper">
    @for (content of this.content; track content) {
        @if (isButton(content)) {
            <app-button class="content" [button]="getAsButton(content)"></app-button>
        }
        @else if (isToggle(content)) {
            <app-toggle class="content" [toggle]="getAsToggle(content)"></app-toggle>
        }
        @else if (isPointerToggle(content)) {
            <app-pointer-mode-toggle class="content" [pointerToggle]="getAsPointerToggle(content)"></app-pointer-mode-toggle>
        }
        @else {
            <app-divider class="content" [divider]="getAsDivider(content)"></app-divider>
        }
    }
</div>