@import "../../global/styles/_global.scss";

.wrapper {
  padding: 16px;
  font-family: 'Segoe UI', Calibri, 'sans-serif';
  font-size: 11pt;
  -webkit-user-select: none;
  user-select: none;
}

.settingsContainer {
  margin-bottom: 7px;
}

.settingsContainer label {
  padding-left: 7px;
}
