.divider {
    padding: 5px;
    padding-left: 0;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
}

.label {
    font-size: 15px;
    color: #444;
    margin-top: -14px;
    margin-bottom: 5px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    width: max-content;
    display: block;
    margin-left: 5px;
}