@import url(../../styles/_global.scss);

.uploadedPicture {
    max-width: 200px;
    max-height: 200px;
    padding: 12px;
}

.zoomFactor {
    margin-top: 7px;
}

.zoomFactor .input {
    margin-top: 7px;
    margin-left: 7px;
}