<div class="wrapper styleWrapper">
    @if (this.picker && this.easyPenStylePicker && this.namePicker && this.iconPicker && this.sliderInputPicker && this.colorPicker && this.easyPenColorStylePicker && this.easyPenStylePicker) {
        <app-string-input [picker]="this.namePicker"></app-string-input>
        <app-icon-picker [picker]="this.iconPicker"></app-icon-picker>
        <app-preview-canvas [data]="this.data"></app-preview-canvas>
        <app-slider-input [picker]="this.sliderInputPicker"></app-slider-input>
        <app-color-picker [picker]="this.colorPicker"></app-color-picker>
        <app-easy-pen-color-style [picker]="this.easyPenColorStylePicker"></app-easy-pen-color-style>
        <app-easy-pen-style-style [picker]="this.easyPenStylePicker"></app-easy-pen-style-style>
    }
    @else {
        <app-loading></app-loading>
    }
</div>