<div class="wrapper styleWrapper">
    <app-string-input [picker]="this.namePicker"></app-string-input>
    <app-icon-picker [picker]="this.iconPicker"></app-icon-picker>
    <app-preview-canvas [data]="this.data"></app-preview-canvas>
    <app-slider-input [picker]="this.sliderInputPicker"></app-slider-input>
    <app-color-picker [picker]="this.colorPicker"></app-color-picker>
    <app-easy-pen-color-style [picker]="this.easyPenColorStylePicker"></app-easy-pen-color-style>
    <app-easy-pen-style-style [picker]="this.easyPenStylePicker"></app-easy-pen-style-style>
</div>