<div class="wrapper">
    <p class="paragraph heading">Stifte bearbeiten</p>
    <div class="penWrapper">
        @for (p of this.defaultPens; track $index) {
            <div class="pen" [appContextMenu]="this.getContextMenuForPen(p, true)">
                <img [src]="'./assets/' + p[0].icon + '.svg'" class="icon" alt="icon">
                <div class="penName">{{ p[0].name }}</div>
                <button class="iconButton floatRight" title="Stift aus Ansicht entfernen" (click)="this.threePointsClicked($event, p)"><img src="assets/threeDots.svg" class="icon" alt="icon"></button>
            </div>
        }
        @for (p of this.additionalPens; track $index) {
            <div class="pen" [appContextMenu]="this.getContextMenuForPen(p, false)">
                <img [src]="'./assets/' + p[0].icon + '.svg'" class="icon" alt="icon">
                <div class="penName">{{ p[0].name }}</div>
                <button class="iconButton floatRight" title="Stift aus Ansicht entfernen" (click)="this.threePointsClicked($event, p)"><img src="assets/threeDots.svg" class="icon" alt="icon"></button>
            </div>
        }
        <div class="add" tabindex="0" (click)="this.add()">
            <p>
              <span><img [src]="'./assets/plus.svg'" class="icon iconInText smallIcon" alt="button"/></span>
              Hinzufügen
            </p>
        </div>
    </div>
</div>