#canvas, .canvas, .wrapper, .pointerCatcher {
    height: 100%;
    margin-bottom: 0;
    width: 100%;
}

#canvas, .canvas, .pointerCatcher {
    touch-action: none;
    background-color: #ecedf0;
    overflow: hidden;
    touch-action: none;
}

.wrapper {
    display: flex;
}
